@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

button {
  position: relative;
  outline: none;
  border: 1px solid;
  height: 50px;
  width: 160px;
  font-size: 25px;
  color: white;
  background-color: #43689f;
  cursor: pointer;
  font-weight: 700;
  letter-spacing: 2px;
}

button #plusicon {
  margin-right: 5px;
}
button #downicon {
  margin-left: 15px;
}

ul {
  position: absolute;
  margin: 10px 0;
  padding: 0;
  width: 100%;
  background-color: #e3eaf4;
  transform-origin: top;
  transform: rotateX(-90deg);
  transition: 0.5s;
}

ul li {
  list-style: none;
}

ul li a {
  display: block;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  color: rgb(44, 44, 44);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-weight: 700;
}

ul li a:hover {
  background-color: #7392cc;
  color: #fff;
}

ul.active {
  transform: rotateX(0deg);
}
